<h1>Inicio de sesión</h1>

<form method="post" asp-action="Login">
    <label>email:</label>
    <input type="text" class="form-control" name="email" />

    <label>Contraseña:</label>
    <input type="text" class="form-control" name="password" />

    <button class="btn btn-primary mt-3">Iniciar sesión</button>
</form>
